#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 0;
}
#whiteFrame {
   width:936px;
   height:240px;
   margin: 20px auto;
 }
#container{
  clear: both;
}
